@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*================================*/
/*================================*/
/*================================*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 38px;
  right: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1.75rem;
  font-size: 1.15rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  font-weight: 300;
}

nav ul li a {
  color: gray;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #000000;
}

nav ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-social {
  display: none;
}

@media only screen and (max-width: 628px) {
  .nav-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .burger {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    z-index: 10;
  }
  .burger span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }
  .burger span, .burger span::before, .burger span::after {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #2a2a2a;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .burger span::before, .burger span::after {
    position: absolute;
    content: "";
  }
  .burger span::before {
    top: -9px;
  }
  .burger span::after {
    top: 9px;
  }
  .burger.clicked span {
    background-color: transparent;
  }
  .burger.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }
  .burger.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }
  .burger.clicked span:before, .burger.clicked span:after {
    background-color: #ffffff;
  }
  .burger:hover {
    cursor: pointer;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #2a2a2a;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  nav.show {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  nav.show ul.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.show ul.main li {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  nav.show ul.main li:nth-child(1) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  nav.show ul.main li:nth-child(2) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  nav.show ul.main li:nth-child(3) {
    -webkit-transition-delay: 0.45s;
            transition-delay: 0.45s;
  }
  nav.show ul.main li:nth-child(4) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  nav.show ul.main li:nth-child(5) {
    -webkit-transition-delay: 0.75s;
            transition-delay: 0.75s;
  }
  nav.show ul.main li:nth-child(6) {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
  }
  nav.show ul.main li:nth-child(7) {
    -webkit-transition-delay: 1.05s;
            transition-delay: 1.05s;
  }
  nav.show ul.main li:nth-child(8) {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  nav.show ul.main li:nth-child(9) {
    -webkit-transition-delay: 1.35s;
            transition-delay: 1.35s;
  }
  nav ul.main {
    list-style-type: none;
  }
  nav ul.main li {
    margin-bottom: 20px;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul.main li:last-of-type {
    margin-bottom: 0px;
  }
  nav ul.main li a {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.35rem;
    display: block;
    letter-spacing: 5px;
    font-weight: 600;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul.main li a span {
    color: #b7ac7f;
  }
  nav ul.main li a:hover {
    color: #b7ac7f;
  }
  nav .about {
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  nav .about p {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    line-height: 170%;
  }
  nav .social {
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  nav .social:after {
    content: "";
    width: 230px;
    height: 2px;
    background-color: #b7ac7f;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  nav .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 25px;
  }
  nav .social a:last-of-type {
    margin-right: 0px;
  }
  nav .social a:hover svg path,
  nav .social a:hover svg circle {
    fill: #b7ac7f;
  }
  nav .social a svg {
    width: 100%;
    height: 100%;
  }
  nav .social a svg path,
  nav .social a svg circle {
    fill: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul.sub {
    list-style-type: none;
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  nav ul.sub li {
    margin-bottom: 10px;
  }
  nav ul.sub li:last-of-type {
    margin-bottom: 0px;
  }
  nav ul.sub li a {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul.sub li a:hover {
    color: #b7ac7f;
  }
}

.btn {
  text-decoration: none;
  font-size: 1.15rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  color: white;
  background-color: #00EAFF;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.btn-primary:hover {
  color: #000000;
}

.hint--top {
  font-family: "Lato", sans-serif;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 8;
  top: 25px;
  left: 50px;
  font-size: 1rem;
}

.brand span {
  width: 8px;
  height: 50px;
  background-color: #00EAFF;
  border-radius: 10px;
  margin-right: 10px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.home {
  opacity: 0;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  8% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  32% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  34% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  8% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  32% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  34% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

section .container .home .skills span:nth-child(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

section .container .home .skills span:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

section .container .home .skills span:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

section {
  width: 100vw;
  padding: 0 10rem;
}

section .container {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .container .home h1 {
  font-size: 3rem;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section .container .home h1 .name {
  color: #00EAFF;
}

section .container .home .skills {
  position: relative;
}

section .container .home .skills span {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  overflow: hidden;
  pointer-events: none;
  -webkit-animation: animate 6s infinite;
          animation: animate 6s infinite;
}

section .container .home div {
  margin: 2rem 0;
}

section .container .home a {
  margin-right: 1rem;
  display: inline-block;
}

section .container .img img {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 0;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.footer-social-links a {
  color: gray;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  margin: 0 0;
  opacity: 0;
}

.footer-social-links a:hover {
  color: #333333;
}

footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer p {
  color: gray;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  margin: 10px 0;
}

@media only screen and (max-width: 645px) {
  .brand {
    left: 25px;
    top: 20px;
  }
  .img {
    display: none;
  }
  section {
    padding: 0;
    width: 100vw;
    height: 90vh;
  }
  section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90vh;
  }
  section .container .home {
    padding: 1rem 0;
  }
  section .container .home div {
    display: inline;
  }
  section .container .home div a {
    margin: 0;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 942px) {
  section {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 460px) {
  section {
    padding: 0;
  }
  section .container {
    height: 90vh;
  }
  section .container .home h1 {
    font-size: 2rem;
  }
  section .container .home div a {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */