@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/*================================*/

$black: #000000;
$white: #ffffff;
$gray: #2a2a2a;
$gold: #b7ac7f;
$primary-color: #00EAFF;

/*================================*/

$lato: 'Lato',
sans-serif;

/*================================*/

$font-xlg: 3rem;
$font-lg: 2.75rem;
$font-md: 2rem;
$font-sm: 1.15rem;
$font-xsm: 0.75rem;